html {
    font-size: 10px;
  }

  @font-face {
    font-family: "Marvel";
    src: url(/MARVEL/fonts/MarvelRegular-Dj83.ttf);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Marvel";
  }
  
  h1 {
    font-size: 6rem; 
  }
  
  h2 {
    font-size: 5rem;
  }
  
  h3 {
    font-size: 4rem;
  }
  
  h4 {
    font-size: 3rem;
  }
  
  h5 {
    font-size: 2rem;
  }
  
  h6 { 
    font-size: 1.5rem;
  }
  
  p {
    font-family: "Roboto", sans-serif;
  }
  