/*   - Media Queries - */
// Large devices
@media (min-width: 830px) {
  .portfolio {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.about-me__text {
  max-width: 100%;
}

.fa-star {
  font-size: 0.1rem;
  padding: 0rem;
}

/* // Medium devices (tablets, less than 829px) */
@media (max-width: 832px) {
  .body {
    width: 50%;
    height: 50%;
  }

  h2 {
    font-size: 3vw;
  }

  p {
    font-size: 1vw;
  }

  h1 {
    word-spacing: 0.2rem;
  }

  .column {
    flex: 1;
    margin: 2rem;
  }

  .fa {
    font-size: 0.1rem;
    padding: 0.5rem;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .about-me__text {
    max-width: 100%;
    font-size: 1rem;
  }

  .fa-star {
    font-size: 0.1rem;
    padding: 0;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(1.5) rotate(360deg) translate(-50%, -50%);
      opacity: 0.6;
    }
  }

  .header {
    margin: 1rem 0;
  }

  .link-contact {
    margin: 0.8rem;
    font-size: 1.5rem;
  }

  .type-titel {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .textBanner {
    & h2 {
      font-size: 4vw;
      margin: 1rem 0;
    }
  }

  .textBanner2 {
    & h2 {
      font-size: 4vw;
      margin: 1rem 0;
    }
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex: 1;
  }

  .about {
    padding: 1rem;
  }

  .about-me__text {
    max-width: 100%;
  }

  p {
    font-size: 1rem;
  }

  table {
    margin-right: 4rem;
    max-width: 100%;
  }

  tr {
    margin-bottom: 1rem;
  }
}

@media (max-width: 375px) {
  .type-titel {
    font-size: 1.3rem;
  }
}

@media (max-width: 320px) {
  .type-titel {
    font-size: 1rem;
  }

  .portfolio__item {
    width: 18rem;
  }

  .portfolio__content {
    margin: 1rem;
  }

  .fa {
    font-size: 0.1rem;
    padding: 0.1rem;
  }

  .about-me {
    width: 15rem;
  }
}
