// HEADER
.bounce-in-right {
  animation: bounce-in-right 2s ease;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

// BANNER

.textBanner {
  width: 100%;
  overflow: hidden;
  background-color: #242625;
  &__inner {
    display: flex;
    & h2 {
      font-size: 1.5rem;
      white-space: nowrap;
      animation: blaBanner 20s linear infinite;
      color: rgb(182, 179, 179);
      transition: color 0.3s linear;
      &:hover {
        color: yellow;
      }
    }
  }
}

@keyframes blaBanner {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.textBanner2 {
  width: 100%;
  overflow: hidden;
  &__inner {
    display: flex;
    & h2 {
      font-size: 1.3rem;
      white-space: nowrap;
      animation: blaBanner2 20s linear infinite;
      color: rgb(31, 31, 31);
      transition: color 0.3s linear;
      &:hover {
        color: $accent;
      }
    }
  }
}

@keyframes blaBanner2 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

// ABOUT

.about {
  overflow: hidden;
  background-color: $bg-color;
  padding: 4rem 0 5rem 4rem;
}

.about-th {
  height: 3rem;
  margin: 0;
  padding-top: 0.5rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: stretch;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.about-me__text {
  max-width: 80%;
  margin-right: 6rem;
  font-size: 1rem;
}

table {
  text-align: left;
  border-collapse: collapse;
  margin: 0 4rem 0 10rem;
  max-width: 50%;
}

th,
.about-th {
  font-size: x-large;
  padding-left: calc(1rem - 0.0672269em);
  
}

.sidebar {
  border-left: 0.4rem solid $accent;
}

.td__name {
  width: 30%;
  padding-right: 2rem;
}

tr {
  height: 3rem;
}

.tfoot__text {
  padding: 1rem 0;
}

.checked {
  color: $accent;
}

.fa-star {
  font-size: 0.5rem;
  padding: 0 3rem;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 2s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 2s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
