$titel-font: Monoton, cursive;
$primary-font: Inconsolata, monospace;

// Colors
$titelRed: rgb(255, 0, 0);
$accent: #f9440a;
$grayishBlue: rgb(150, 152, 166);
$bg-dark: #242625;
$bg-gray: rgb(57, 56, 56);
$bg-color: cadetblue;
$white: rgb(255, 255, 255);

// Font Sizes
// $font-sm: ;
// $font-med: ;
// $font-lg: ;
// $font-xlg: ;
